@model Hackathon.Models.DbUser

@{
    ViewData["Title"] = "Личный кабинет - " + Model.Name;
    var message = "";
    var hourNow = DateTime.Now.Hour;
    if (hourNow >= 0 && hourNow < 6)
        message = "Доброй ночи, ";
    else if (hourNow >= 6 && hourNow < 12)
        message = "Доброе утро, ";
    else if (hourNow >= 12 && hourNow < 18)
        message = "Добрый день, ";
    else if (hourNow >= 18 && hourNow < 0)
        message = "Добрый вечер, ";
    message += Model.Name + "!";
}

    <div id="main-container">
        <div id="greeting-message">@message</div>
        <div class="main-blocks">
            <div class="main-block">
                <div class="main-block-header">
                    Номер телефона
                </div>
                <div class="main-block-value">
                    @Model.PhoneNumber
                </div>
            </div>

            <div class="main-block">
                <div class="main-block-header">
                    Тариф
                </div>
                <div class="main-block-value">
                    @Model.Plan.Title
                </div>
                <a class="main-block-link" asp-controller="Home" asp-action="ShowPlan">Подробнее</a>
                <a class="main-block-link" asp-controller="Home" asp-action="ListPlans">Сменить тариф</a>
            </div>

            <div class="main-block">
                <div class="main-block-header">
                    Остаток на сегодня
                </div>
                <div class="main-block-value">
                    @Model.Balance Руб.
                </div>
                <a class="main-block-link">Пополнить баланс</a>
            </div>

            <div class="main-block special">
                <div class="main-block-header">
                    Меняй минуты на ГБ!
                </div>
                <a class="main-block-link special-link">Подробнее</a>
            </div>
        </div>

        <div class="main-blocks">
            <div id="detail-block">
                <div class="main-block-header">
                    Детализация и расходы
                </div>
                @if (Model.Transactions != null)
                {
                    <div id="detail-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Услуга</th>
                                    <th>Стоимость</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var counter = 0;
                                    foreach (var transaction in Model.Transactions)
                                    {
                                        if (counter == 3)
                                            break;
                                        <tr>
                                            <th>@transaction.Data.ToLongDateString()</th>
                                            <td>@transaction.Description</td>
                                            <td>@transaction.Value ₽</td>
                                        </tr>
                                        counter++;
                                    }
                                }
                            </tbody>
                        </table>


                    </div>
                }

                @if (Model.Transactions == null)
                {
                    <span id="no-transac-warning">Нет транзакций</span>
                }

                <a class="main-block-link">Подробнее</a>
            </div>

            <div id="service-block">
                <div class="main-block-header">
                    Остаток по тарифу
                </div>
                <div id="left-blocks">
                    <div class="left-block">
                        <div class="first-row">
                            <span class="main-value">@Model.MinutesLeft</span>
                            <span>МИН</span>
                        </div>
                        <div class="second-row">
                            <span>на 23 дня</span>
                        </div>
                    </div>

                    <div class="left-block">
                        <div class="first-row">
                            <span class="main-value">@Model.GbLeft</span>
                            <span>ГБ</span>
                        </div>
                        <div class="second-row">
                            <span>на 23 дня</span>
                        </div>
                    </div>

                    <div class="left-block">
                        <div class="first-row">
                            <span class="main-value">@Model.SMSLeft</span>
                            <span>МИН</span>
                        </div>
                        <div class="second-row">
                            <span>на 23 дня</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
      
