@using System.Collections
@using Hackathon.Models;
@model IEnumerable<Transaction>
@{
    ViewData["Title"] = "Расходы, пополнения и детализация";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <thread>
            <tr>
                <th>
                    Дата
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Изменение счёта
                </th>
            </tr>
        </thread>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td style="color: @(item.Value > 0 ? "Green" : "Black")">
                        @(item.Value > 0 ? "+"+item.Value.ToString() : item.Value.ToString()) ₽
                    </td>
                </tr>
            }
        }
    </thead>
</table>
