@model Hackathon.Models.PlanParameters.PhonePlan

@{
    ViewData["Title"] = "Описание Вашего тарифа";
    Layout = "_Layout";
}

    <div id="greeting-message">Тариф "<span style="color: #f67d23">@Html.DisplayFor(model => model.Title)</span>"</div>


    <div id="plan-info">
        <table id="plan-table">
            <thead id="plan-thead">
                <tr class="plan-tr">
                    <th>Абонентская плата</th>
                    <td>
                        @Html.DisplayFor(model => model.AbonentPay)
                    </td>
                </tr>
                <tr class="plan-tr">
                    <th>Плата за подключеие</th>
                    <td>
                        @Html.DisplayFor(model => model.PrimaryPay)
                    </td>
                </tr>
                <tr class="plan-tr">
                    <th>Название</th>
                    <td>
                        @Html.DisplayFor(model => model.Title)
                    </td>
                </tr>
                <tr class="plan-tr">
                    <th>Звонки на Мотив Р/Мин</th>
                    <td>
                        @Html.DisplayFor(model => model.OnMotiv)
                    </td>
                </tr>
                <tr class="plan-tr">
                    <th>Пакет минут</th>
                    <td>
                        @Html.DisplayFor(model => model.OnMotivFix)
                    </td>
                </tr>
                <tr class="plan-tr">
                    <th>Звонки на других опреторов</th>
                    <td>
                        @Html.DisplayFor(model => model.OnOtherOp)
                    </td>
                </tr>
                <tr class="plan-tr">
                    <th>Звонки подключения региона подключения ГТС</th>
                    <td>
                        @Html.DisplayFor(model => model.OnGTC)
                    </td>
                </tr>
                <tr class="plan-tr">
                    <th>Звонки по России</th>
                    <td>
                        @Html.DisplayFor(model => model.OnRF)
                    </td>
                </tr>
                <tr class="plan-tr">
                    <th>Мобильный интернет</th>
                    <td>
                        @Html.DisplayFor(model => model.MobileInternet)
                    </td>
                </tr>
                <tr class="plan-tr">
                    <th>Цена СМС</th>
                    <td>
                        @Html.DisplayFor(model => model.SmsOnRF)
                    </td>
                </tr>
                <tr class="plan-tr">
                    <th>Количество СМС в пакете</th>
                    <td>
                        @Html.DisplayFor(model => model.SmsOnRFFix)
                    </td>
                </tr>
                <tr class="plan-tr">
                    <th>Цена ММС</th>
                    <td>
                        @Html.DisplayFor(model => model.MmsOnRF)
                    </td>
                </tr>
            </thead>
        </table>
    </div>

@*<div>
    <h4>PhonePlan</h4>
    <hr />

    <dt class="col-sm-2">
        Название
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dl class="row">
        <dt class="col-sm-2">
            Абонентская плата
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AbonentPay)
        </dd>
        <dt class="col-sm-2">
            Плата за подключеие
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrimaryPay)
        </dd>
        <dt class="col-sm-2">
            Звонки на Мотив Р/Мин
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OnMotiv)
        </dd>
        <dt class="col-sm-2">
            Пакет минут
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OnMotivFix)
        </dd>
        <dt class="col-sm-2">
            Звонки на других опреторов
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OnOtherOp)
        </dd>
        <dt class="col-sm-2">
            Звонки подключения региона подключения ГТС
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OnGTC)
        </dd>
        <dt class="col-sm-2">
            Звонки по России
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OnRF)
        </dd>
        <dt class="col-sm-2">
            Мобильный интернет
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobileInternet)
        </dd>
        <dt class="col-sm-2">
            Цена СМС
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SmsOnRF)
        </dd>
        <dt class="col-sm-2">
            Количество СМС в пакете
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SmsOnRFFix)
        </dd>
        <dt class="col-sm-2">
            Цена ММС
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MmsOnRF)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>*@
